<% include ./partials/header %>

<div class="container">
<h1 class="center">Login</h1>
<form class="center" action="/login" method="post">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <div>
    <input class="btn btn-success" type="submit" name="" value="Login">
    <a href="/forgotPassword">Forgot Password?</a>
  </div>
</form>
</div>
<% include ./partials/footer %>
