<% include partials/header.ejs %>

<h1>Reserved for show template</h1>

<p><%= campground.name %></p>

<img src="<%= campground.image %>" alt="">

<p><%= campground.description %></p>

<% include partials/footer.ejs %>
