.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

.DeleteForm {
  display: inline;

}

#map {
  width: 250px;
  height: 250px;
}

.hidden {
  display: none;
}
