<% include ../partials/header.ejs %>

<div class="container">
  <div class="">
    Check your email account for a link to the password reset page.
  </div>
</div>

<% include ../partials/footer.ejs %>
