<% include ../partials/header %>

<div class="container">
<h1 class="center">Forgot Password</h1>
<form class="center" action="/forgotPassword" method="post">
  <input type="text" name="username" placeholder="username">
  <input class="btn btn-success" type="submit" name="" value="Reset Password">
</form>
</div>
<% include ../partials/footer %>
