<% include ../partials/header %>

<div class="container">
<h1 class="center">Enter New Password</h1>
<form class="center" action="/resetPassword/<%= uid %>" method="post">
  <input type="password" name="password" placeholder="Enter Password">
  <input type="password" name="checkPassword" placeholder="Re-enter password">
  <input class="btn btn-success" type="submit" name="" value="Set Password">
</form>
</div>

<% include ../partials/footer %>
